### Домашнее задание «Библиотека Pandas»

#### Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [89]:
import pandas as pd

ratings = pd.read_csv('ml-25m/ratings.csv')
#ratings.head()
ratings_grouped = ratings[['movieId','rating']].query('rating == 5.0').value_counts().head(5)
ratings_grouped.head()

movies = pd.read_csv('ml-25m/movies.csv')
movies.head()
joined = ratings_grouped.to_frame().merge(movies, on='movieId', how='left')
joined.head()

,movieId,0,title,genres
0,318,39553,"Shawshank Redemption, The (1994)",Crime|Drama
1,296,32169,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
2,356,25918,Forrest Gump (1994),Comedy|Drama|Romance|War
3,260,25804,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi
4,2571,25482,"Matrix, The (1999)",Action|Sci-Fi|Thriller

#### Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [77]:
data = pd.read_csv('power.csv')
data.head()

filtered_countries = data[ ((data['country']=='Lithuania') | (data['country']=='Latvia')| (data['country']=='Estonia'))&
                           ((data['category'] == 4) | (data['category'] ==12) | (data['category'] ==21))&
                           ( data['year'].between(2005, 2010))&
                           (data['quantity'] >= 0)]
filtered_countries['quantity'].sum()

240580.0

#### Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [88]:
page_url = 'https://www.finanz.ru/valyuty/v-realnom-vremeni'
df = pd.read_html(page_url, attrs = {'class': 'quote_list'}, encoding='utf-8')
df[:5]

[    Unnamed: 0              Рубль  Предложение  Спрос  Предыдущее закрытие  \
 0          NaN            GBP/RUB      1048340      -              1049209
 1          NaN            EUR/RUB       898545      -               900933
 2          NaN            USD/RUB       744040      -               741896
 3          NaN            JPY/RUB        06792      -                06830
 4          NaN            CNY/RUB       115203      -               115381
 5          NaN            CHF/RUB       818331      -               821308
 6          NaN               Евро  Предложение  Спрос  Предыдущее закрытие
 7          NaN            EUR/USD        12080      -                12151
 8          NaN            EUR/GBP        08572      -                08591
 9          NaN            EUR/JPY      1322920      -              1319600
 10         NaN            EUR/CHF        10976      -                10981
 11         NaN         Доллар США  Предложение  Спрос  Предыдущее закрытие
 12         NaN            USD/EUR        08278      -                08231
 13         NaN            USD/GBP        07094      -                07070
 14         NaN            USD/JPY      1095160      -              1086190
 15         NaN            USD/CHF        09088      -                09034
 16         NaN      Японская иена  Предложение  Спрос  Предыдущее закрытие
 17         NaN    JPY/EUR (100:1)        07600      -                07600
 18         NaN            JPY/GBP        00065      -                00065
 19         NaN            JPY/USD        00091      -                00092
 20         NaN    JPY/CHF (100:1)        08300      -                08300
 21         NaN    Фунт стерлингов  Предложение  Спрос  Предыдущее закрытие
 22         NaN            GBP/USD        14097      -                14141
 23         NaN            GBP/JPY      1543684      -              1536279
 24         NaN            GBP/EUR        11669      -                11641
 25         NaN            GBP/CHF        12809      -                12772
 26         NaN  Швейцарский франк  Предложение  Спрос  Предыдущее закрытие
 27         NaN            GBP/CHF        12809      -                12772
 28         NaN            EUR/CHF        10976      -                10981
 29         NaN    JPY/CHF (100:1)        08300      -                08300
 30         NaN            USD/CHF        09088      -                09034
 31         NaN  Украинская гривна  Предложение  Спрос  Предыдущее закрытие
 32         NaN            EUR/UAH       333575      -               335146
 33         NaN            USD/UAH       276173      -               275852
 34         NaN            CHF/UAH       303921      -               305416
 35         NaN            GBP/UAH       389265      -               390165

           %  Абсолютное значение     Время
 0   -0,08 %               -00869  18:46:00
 1   -0,27 %               -02388  18:46:00
 2    0,29 %                02144  18:46:00
 3   -0,56 %               -00038  18:46:00
 4   -0,15 %               -00178  18:46:00
 5   -0,36 %               -02977  18:46:00
 6         %  Абсолютное значение     Время
 7   -0,58 %               -00071  18:46:00
 8   -0,22 %               -00019  18:46:00
 9    0,25 %                03320  18:46:00
 10  -0,04 %               -00005  18:46:00
 11        %  Абсолютное значение     Время
 12   0,57 %                00047  18:46:00
 13   0,34 %                00024  18:46:00
 14   0,83 %                08970  18:46:00
 15   0,60 %                00054  18:46:00
 16        %  Абсолютное значение     Время
 17  -0,26 %                00000  18:46:00
 18  -0,50 %                00000  18:46:00
 19  -0,82 %               -00001  18:46:00
 20  -0,20 %                00000  18:46:00
 21        %  Абсолютное значение     Время
 22  -0,31 %               -00044  18:46:00
 23   0,48 %                07406  18:46:00
 24   0,24 %                00028  18:46:00
 25   0,29 %                00037  18:46:00
 26        %  Абсолютное значение     Время
 27   0,29 %                00037  18:46:00
 28  -0,04 %               -00005  18:46:00
 29  -0,20 %                00000  18:46:00
 30   0,60 %                00054  18:46:00
 31        %  Абсолютное значение     Время
 32  -0,47 %               -01572  18:46:00
 33   0,12 %                00321  18:45:00
 34  -0,49 %               -01496  18:46:00
 35  -0,23 %               -00900  18:46:00  ]