# Домашнее задание к лекции "Базовые понятия статистики"

Будем осуществлять работу с непростым [набором данных](https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.csv) о состоянии здоровья лошадей, испытывающих кишечные колики. Цель – максимально корректно заполнить пропуски.


### Задание 1. Загрузка данных

Изучить представленный набор данных на основе [описания его столбцов](https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.names), загрузить его и оставить 8 столбцов для дальнейшего изучения: `surgery?`, `Age`, `rectal temperature`, `pulse`, `respiratory rate`, `temperature of extremities`, `pain`, `outcome`.

In [102]:
import pandas as pd
import numpy as np

col_names = ['1','2', '3', '4', '5', '6', '7', '8', '9', '10',
             '11','12', '13', '14', '15', '16', '17', '18', '19', '20',
             '21','22', '23', '24', '25', '26', '27', '28' ]

df = pd.read_csv('horse_data.csv',   names=col_names,  na_values='?')
df.head()

,1,2,3,4,5,6,7,8,9,10,...,19,20,21,22,23,24,25,26,27,28
0,2.0,1,530101,38.5,66.0,28.0,3.0,3.0,NaN,2.0,...,45.0,8.4,NaN,NaN,2.0,2,11300,0,0,2
1,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,50.0,85.0,2.0,2.0,3.0,2,2208,0,0,2
2,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,33.0,6.7,NaN,NaN,1.0,2,0,0,0,1
3,1.0,9,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,48.0,7.2,3.0,5.3,2.0,1,2208,0,0,1
4,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,6.0,2.0,...,74.0,7.4,NaN,NaN,2.0,2,4300,0,0,2

In [103]:
df1 = df[['1','2','4','5','6','7','11','23']]
df1= df1.rename(columns =  {"1": "surgery?",
                    "2": "Age",
                    "4": "rectal temperature",
                    "5": "pulse",
                    "6": "respiratory rate",
                    "7": "temperature of extremities",
                    "11": "pain",
                    "23":"outcome"})


df1.info()
df1.head(20)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    299 non-null    float64
 1   Age                         300 non-null    int64
 2   rectal temperature          240 non-null    float64
 3   pulse                       276 non-null    float64
 4   respiratory rate            242 non-null    float64
 5   temperature of extremities  244 non-null    float64
 6   pain                        245 non-null    float64
 7   outcome                     299 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.9 KB

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
5,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
6,1.0,1,37.9,48.0,16.0,1.0,3.0,1.0
7,1.0,1,NaN,60.0,NaN,3.0,NaN,2.0
8,2.0,1,NaN,80.0,36.0,3.0,4.0,3.0
9,2.0,9,38.3,90.0,NaN,1.0,5.0,1.0
10,1.0,1,38.1,66.0,12.0,3.0,3.0,1.0
11,2.0,1,39.1,72.0,52.0,2.0,2.0,1.0
12,1.0,1,37.2,42.0,12.0,2.0,3.0,1.0
13,2.0,9,38.0,92.0,28.0,1.0,1.0,2.0
14,1.0,1,38.2,76.0,28.0,3.0,3.0,1.0
15,1.0,1,37.6,96.0,48.0,3.0,5.0,2.0
16,1.0,9,NaN,128.0,36.0,3.0,4.0,2.0
17,2.0,1,37.5,48.0,24.0,NaN,NaN,1.0
18,1.0,1,37.6,64.0,21.0,1.0,2.0,1.0
19,2.0,1,39.4,110.0,35.0,4.0,NaN,1.0

### Задание 2. Первичное изучение данных

Проанализировать значения по столбцам, рассчитать базовые статистики, найти выбросы.

In [104]:
df1["surgery?"].describe()

count    299.000000
mean       1.397993
std        0.490305
min        1.000000
25%        1.000000
50%        1.000000
75%        2.000000
max        2.000000
Name: surgery?, dtype: float64

In [105]:
df1["Age"].describe()

count    300.000000
mean       1.640000
std        2.173972
min        1.000000
25%        1.000000
50%        1.000000
75%        1.000000
max        9.000000
Name: Age, dtype: float64

In [38]:
df1["rectal temperature"].describe()

count     300
unique     66
top         ?
freq       60
Name: rectal temperature, dtype: object

In [106]:
df1["pulse"].describe()

count    276.000000
mean      71.913043
std       28.630557
min       30.000000
25%       48.000000
50%       64.000000
75%       88.000000
max      184.000000
Name: pulse, dtype: float64

In [107]:
df1["respiratory rate"].describe()

count    242.000000
mean      30.417355
std       17.642231
min        8.000000
25%       18.500000
50%       24.500000
75%       36.000000
max       96.000000
Name: respiratory rate, dtype: float64

In [108]:
df1["temperature of extremities"].describe()

count    244.000000
mean       2.348361
std        1.045054
min        1.000000
25%        1.000000
50%        3.000000
75%        3.000000
max        4.000000
Name: temperature of extremities, dtype: float64

In [109]:
df1["pain"].describe()

count    245.00000
mean       2.95102
std        1.30794
min        1.00000
25%        2.00000
50%        3.00000
75%        4.00000
max        5.00000
Name: pain, dtype: float64

In [110]:
df1["outcome"].describe()

count    299.000000
mean       1.551839
std        0.737187
min        1.000000
25%        1.000000
50%        1.000000
75%        2.000000
max        3.000000
Name: outcome, dtype: float64

### Задание 3. Работа с пропусками

Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе заполнения пропусков по каждому столбцу на основе рассчитанных статистик и возможной взаимосвязи значений в них. Сформировать датафрейм, в котором пропуски будут отсутствовать.

In [121]:
df1['surgery?'].value_counts()
df1_median = df1.copy()

In [129]:
df1_median['surgery?'].fillna('1', inplace=True)
print(df1['surgery?'].describe())
print('-----------------------------------')
print(df1_median['surgery?'].describe())

count    299.000000
mean       1.397993
std        0.490305
min        1.000000
25%        1.000000
50%        1.000000
75%        2.000000
max        2.000000
Name: surgery?, dtype: float64
-----------------------------------
count     300.0
unique      3.0
top         1.0
freq      180.0
Name: surgery?, dtype: float64

In [131]:
#normal temp is 37.8
df1_median['rectal temperature'].fillna('37.8').isna().sum()

0

In [132]:
print(df1['rectal temperature'].describe())
print('-----------------------------------')
print(df1_median['rectal temperature'].describe())

count    240.000000
mean      38.167917
std        0.732289
min       35.400000
25%       37.800000
50%       38.200000
75%       38.500000
max       40.800000
Name: rectal temperature, dtype: float64
-----------------------------------
count      300
unique      41
top       37.8
freq        60
Name: rectal temperature, dtype: object

In [134]:
df1_median['pulse'].fillna(df1.groupby(['pain'])['pulse'].transform('median'), inplace=True)
df1_median['pulse'].fillna(df1['pulse'].mode()[0], inplace=True)


print(df1['pulse'].describe())
print('-----------------------------------')
print(df1_median['pulse'].describe())

count    276.000000
mean      71.913043
std       28.630557
min       30.000000
25%       48.000000
50%       64.000000
75%       88.000000
max      184.000000
Name: pulse, dtype: float64
-----------------------------------
count    300.000000
mean      71.640000
std       27.913814
min       30.000000
25%       48.000000
50%       64.000000
75%       88.000000
max      184.000000
Name: pulse, dtype: float64

In [136]:
df1_median['respiratory rate'].fillna(df1['respiratory rate'].mean(), inplace=True)


print(df1['respiratory rate'].describe())
print('-----------------------------------')
print(df1_median['respiratory rate'].describe())

count    242.000000
mean      30.417355
std       17.642231
min        8.000000
25%       18.500000
50%       24.500000
75%       36.000000
max       96.000000
Name: respiratory rate, dtype: float64
-----------------------------------
count    300.000000
mean      30.417355
std       15.838952
min        8.000000
25%       20.000000
50%       30.000000
75%       34.250000
max       96.000000
Name: respiratory rate, dtype: float64

In [138]:
df1_median['temperature of extremities'].fillna(df1.groupby(['rectal temperature'])['temperature of extremities'].transform('median'), inplace=True)
df1_median['temperature of extremities'].fillna(df1['temperature of extremities'].mean(), inplace=True)

print(df1['temperature of extremities'].describe())
print('-----------------------------------')
print(df1_median['temperature of extremities'].describe())

count    244.000000
mean       2.348361
std        1.045054
min        1.000000
25%        1.000000
50%        3.000000
75%        3.000000
max        4.000000
Name: temperature of extremities, dtype: float64
-----------------------------------
count    300.000000
mean       2.340246
std        0.994906
min        1.000000
25%        1.000000
50%        3.000000
75%        3.000000
max        4.000000
Name: temperature of extremities, dtype: float64

In [139]:
df1_median['pain'].fillna(df1.groupby(['surgery?'])['pain'].transform('median'), inplace=True)

print(df1['pain'].describe())
print('-----------------------------------')
print(df1_median['pain'].describe())

count    245.00000
mean       2.95102
std        1.30794
min        1.00000
25%        2.00000
50%        3.00000
75%        4.00000
max        5.00000
Name: pain, dtype: float64
-----------------------------------
count    300.000000
mean       2.900000
std        1.203395
min        1.000000
25%        2.000000
50%        3.000000
75%        4.000000
max        5.000000
Name: pain, dtype: float64

In [141]:
df1_median['outcome'].fillna(df1['outcome'].mode()[0], inplace=True)

print(df1['outcome'].describe())
print('-----------------------------------')
print(df1_median['outcome'].describe())

count    299.000000
mean       1.551839
std        0.737187
min        1.000000
25%        1.000000
50%        1.000000
75%        2.000000
max        3.000000
Name: outcome, dtype: float64
-----------------------------------
count    300.000000
mean       1.550000
std        0.736642
min        1.000000
25%        1.000000
50%        1.000000
75%        2.000000
max        3.000000
Name: outcome, dtype: float64

#### ПРИМЕЧАНИЕ
Домашнее задание сдается ссылкой на репозиторий [GitHub](https://github.com/).
Не сможем проверить или помочь, если вы пришлете:
- файлы;
- архивы;
- скриншоты кода.

Все обсуждения и консультации по выполнению домашнего задания ведутся только на соответствующем канале в slack.

##### Как правильно задавать вопросы аспирантам, преподавателям и коллегам
Прежде чем задать вопрос, попробуйте найти ответ в интернете. Навык самостоятельного поиска информации — один из важнейших. Каждый практикующий специалист любого уровня делает это ежедневно.

Сформулируйте вопрос по алгоритму:  
1) Что я делаю?  
2) Какого результата я ожидаю?  
3) Как фактический результат отличается от ожидаемого?  
4) Что я уже попробовал сделать, чтобы исправить проблему?  

По возможности прикрепите к вопросу скриншоты либо ссылки на код. Не выкладывайте все решение, оставляйте только проблемный и воспроизводимый участок кода.